{% extends 'base.html.twig' %}

{% block title %}Chat - Add Petition{% endblock %}

{% block section_class %}petitionAdd{% endblock %} 
{% block content_class %}justify-content-center align-items-center{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/_forms.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.css">
{% endblock %}

{% block content %}
<div class="col-sm-6 text-center my-3">
    {{ include('forms/petition_form.html.twig', {
        header_text: 'New petition',
        button_text: 'Send'
    }) }}

    {% include 'modals/add_attachments_modal.html.twig' %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.js"></script>
    <script type="module" src="{{ asset('js/helpers/_formHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/_addAttachmentsDropzone.js') }}"></script>

{% endblock %}