{% extends 'base.html.twig' %}

{% block title %}Chat - Petitions{% endblock %}

{% block section_class %}petitions{% endblock %} 
{% block content_class %}{% endblock %}
{% block content %}
{% do pagination.setSortableTemplate('paginator/sortable_button.html.twig') %}

<div class="col-sm-12 text-center mt-5">
    {% if pagination.getTotalItemCount > 0 %}
        <h2 class="mb-3 font-weight-normal text-uppercase text-purple">
            Your petitions ({{ pagination.getTotalItemCount }})
        </h2>
        <a href="{{ path('support_petition_add') }}" class="d-inline-block btn btn-primary float-right" data-toggle="tooltip" data-placement="top" title="Create new petition">
            Create
            <span class="fas fa-plus-circle"></span>
        </a>
        <div class="col-sm-12 col-md-4 mx-auto mb-2">
            {{ knp_pagination_filter(pagination, {}) }}
        </div>
            <div class="list my-3">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="text-purple text-uppercase d-inline-block">Filter</h5>
                                        <a href="{{ path('support_petition')}}" class="btn btn-primary d-inline-block">All</a>
                                        {% for key, petitionType in petitionTypes %}
                                            <a href="{{ path('support_petition', { 'filterField': 'p.type', 'filterValue': petitionType }) }}" class="btn btn-primary d-inline-block">
                                                {{ key }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 mt-2">
                                        <h5 class="text-purple text-uppercase d-inline-block">Sort</h5>
                                        {{ knp_pagination_sortable(pagination, 'Reason', 'p.type', { 'class': 'text-decoration-none' }) }}
                                        {{ knp_pagination_sortable(pagination, 'Date', 'p.createdAt', { 'class': 'text-decoration-none' }) }}
                                        {{ knp_pagination_sortable(pagination, 'Status', 'p.status', { 'class': 'text-decoration-none' }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for petition in pagination %}
                        <div class="col-md-4 my-3">
                            <div class="card text-center">  
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-12 text-right text-primary">
                                            {% if petition.status is same as('Pending') %}
                                                <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="Sended">
                                                    <span class="fas fa-arrow-down fa-xs" style="vertical-align:top;"></span>
                                                    <span class="fas fa-user fa-sm"></span>
                                                </span>
                                            {% elseif petition.status is same as('Opened') %}
                                                <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="Readed">
                                                    <span class="fas fa-eye fa-xs" style="vertical-align:top;"></span>
                                                    <span class="fas fa-user fa-sm"></span>
                                                </span>
                                            {% elseif petition.status is same as('Answered') %}
                                                <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="Answered">
                                                    <span class="fas fa-envelope fa-xs" style="vertical-align:top;"></span>
                                                    <span class="fas fa-user fa-sm"></span>
                                                </span>
                                            {% elseif petition.status is same as('Closed') %}
                                                <span class="fas fa-lock text-success" data-toggle="tooltip" data-placement="top" title="Closed">
                                                </span>
                                            {% endif %}
                                        </div>
                                        <div class="col-12">
                                            <h5 class="text-orange">
                                                {{ petition.typeDescription }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-purple">
                                        {{ petition.title | u.truncate(40, '...') }}
                                    </h5>
                                    <p class="card-text text-muted">
                                        {{ petition.description | u.truncate(40, '...') }}
                                    </p>
                                    <a href="{{ path('support_petition_show', {id: petition.id}) }}" class="btn btn-primary">View</a>
                                </div>
                                <div class="card-footer text-muted">
                                    {{ time_diff(petition.createdAt) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination, null, {}, {
                'align': 'center'
            }) }}
            {{ include('paginator/per_page.html.twig', {
                span_color: 'text-primary',
                per_page: [6,12,18]
            }) }}
        </div>
    {% else %}
        <h2 class="mb-3 font-weight-normal text-uppercase text-purple">
            Your petitions
        </h2>
        <div class="col-sm-12 col-md-4 mx-auto mb-2">
            {{ knp_pagination_filter(pagination, {}) }}
        </div>
        {% include 'empty_table.html.twig' %}
    {% endif %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({trigger: 'hover'});
            $('[data-toggle="tooltip"]').on('click', function () {
                $(this).tooltip('hide')
            });
        });
    </script>
{% endblock %}