{% block chat_form %}
<h2 class="mb-3 font-weight-normal text-uppercase text-purple">{{ header_text }}</h2>
    
{{ form_start(chatForm, {
        attr: { class: 'align-items-center justify-content-center' }
    }) 
}}
    {% if chatForm.id is defined %}
        {{ form_row(chatForm.id, {
            label: 'ID: ',
            attr: { class: 'form-id-js' }
        }) }}
    {% endif %}

    {{ form_row(chatForm.title, {
        label : false,
        attr: { placeholder: 'Title' }
    }) }}

    {% if chatForm.imageFile is defined %}
        {{ form_row(chatForm.imageFile, {
            'label' : 'Chat image: ',
            attr: {
                'placeholder': 'Select a chat image',
            }
        }) }}
        
        {% if chatForm.vars.data.imageFilename is defined and chatForm.vars.data.imageFilename is not null %}
            <div class="mb-3" id="uploaded_image">
                <p>Already uploaded:</p>
                <div class="imageForm-container position-relative mx-auto">
                    <img class="imageForm rounded border border-white" src="{{ uploaded_asset(chatForm.vars.data.thumbImagePath) }}" alt="Chat image">
                    <div class="image-toolbar">
                        <a href="{{ uploaded_asset(chatForm.vars.data.imagePath) }}" target="_blank">
                            <span class="fa fa-search-plus position-absolute link-show"></span>
                        </a>
                        <a 
                            href="{{ path('api_admin_delete_chat_image', { id: chatForm.vars.data.id }) }}"
                            id="delete-image"
                        >
                            <span class="fa fa-trash position-absolute link-delete"></span>
                        </a> 
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {{ form_row(chatForm.description, {
        label : false,
        attr: { placeholder: 'Description' }
    }) }}

    <button class="btn btn-lg btn-primary text-uppercase" type="submit">{{ button_text }}</button>
    
{{ form_end(chatForm) }}

{% endblock %}
