{% block petition_form %}
<h2 class="mb-3 font-weight-normal text-uppercase text-purple">{{ header_text }}</h2>
    
{{ form_start(petitionForm, {
        attr: { class: 'align-items-center justify-content-center' }
    }) 
}}

    {{ form_row(petitionForm.title, {
        label : false,
        attr: { placeholder: 'Title' }
    }) }}

    {{ form_row(petitionForm.type, {
        label : 'Choose reason:'
    }) }}

    {{ form_row(petitionForm.description, {
        label : false,
        attr: { 
            placeholder: 'Description',
            class: 'bg-dark text-white',
            rows: '7'
        },
    }) }}

    <div id="js-attachments-sets" 
        data-prototype="{{ form_widget(petitionForm.attachementsFilenames.vars.prototype)|e }}"
        data-counter="{{ petitionForm.attachementsFilenames|length }}"
    >
    
    <div class="row">
        <div class="col-sm-12 text-left mb-3">
            <button class="btn btn-info text-uppercase" type="button" data-toggle="modal" data-target="#js-add-attachments-modal">Add Attachments</button>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-lg btn-primary text-uppercase" type="submit">{{ button_text }}</button>
        </div>
    </div>
    

    
    
{{ form_end(petitionForm) }}

{% endblock %}
