{% block user_form %}
<h2 class="mb-3 font-weight-normal text-uppercase text-purple">{{ header_text }}</h2>
    
{{ form_start(userForm, {
        attr: { class: 'align-items-center justify-content-center' }
    }) 
}}
    {% if userForm.id is defined %}
        {{ form_row(userForm.id, {
            label: 'ID: ',
            attr: { class: 'form-id-js' }
        }) }}
    {% endif %}

    {{ form_row(userForm.email, {
        label : false,
        attr: { placeholder: 'E-mail' }
    }) }}

    {{ form_row(userForm.login, {
        label : false,
        attr: { placeholder: 'Login' }
    }) }}
    
    {% if userForm.imageFile is defined %}
        {{ form_row(userForm.imageFile, {
            'label' : 'Your image: ',
            attr: {
                'placeholder': 'Select an account image',
            }
        }) }}

        {% if userForm.vars.data.imageFilename is defined and userForm.vars.data.imageFilename is not null %}
            <div class="mb-3" id="uploaded_image">
                <p>Already uploaded:</p>
                <div class="imageForm-container position-relative mx-auto">
                    <img class="imageForm rounded border border-white" src="{{ uploaded_asset(userForm.vars.data.thumbImagePath) }}" alt="User image">
                    <div class="image-toolbar">
                        <a href="{{ uploaded_asset(userForm.vars.data.imagePath) }}" target="_blank">
                            <span class="fa fa-search-plus position-absolute link-show"></span>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a 
                                href="{{ path('api_admin_delete_account_image', { id: userForm.vars.data.id }) }}"
                                id="delete-image"
                            >
                                <span class="fa fa-trash position-absolute link-delete"></span>
                            </a> 
                        {% else %}
                            <a href="{{ path('api_delete_account_image') }}" id="delete-image">
                                <span class="fa fa-trash position-absolute link-delete"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    
    {{ form_row(userForm.gender, {
        label : 'Gender: ',
        attr: { class: 'form-check-inline'}
    }) }}

    {%  if userForm.roles is defined %}
        {{ form_row(userForm.roles, {
            label : 'Roles: '
        }) }}
    {% endif %}

    {% if userForm.plainPassword is defined %}
        {{ form_row(userForm.plainPassword.first, {
            label : false,
            attr: { placeholder: 'Password' }
        }) }}

        {{ form_row(userForm.plainPassword.second, {
            label : false,
            attr: { placeholder: 'Repeat password' }
        }) }}
    {% endif %}

    {% if userForm.agreeTerms is defined %}
        {{ form_row(userForm.agreeTerms) }}
        <a class="text-uppercase" href="#">Terms page</a>
    {% endif %}

    {% if button_text is same as('Register') %}
        <div class="form-group text-center">
            <div class="g-recaptcha my-3" data-sitekey="{{ public_key }}"></div>
            {% if ReCaptchaError is defined %}
                <span class="invalid-feedback d-block">
                    <span class="d-block">
                        <span class="form-error-icon badge badge-danger text-uppercase">Error</span> 
                        <span class="form-error-message">{{ ReCaptchaError }}</span>
                    </span>
                </span>
            {% endif %}
        </div>
    {% endif %}

    <button class="btn btn-lg btn-primary text-uppercase" type="submit">{{ button_text }}</button>
    
{{ form_end(userForm) }}

{% endblock %}
