{% extends 'base.html.twig' %}

{% block title %}Chat - Private Rooms{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/_chat.css') }}">
{% endblock %}
{% block section_class %}privateRooms{% endblock %} 
{% block content %}
<div class="col-sm-12 text-center my-3">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="mb-3 font-weight-normal text-uppercase text-purple">Private Chat Rooms</h4>
        </div>
        <div class="col-sm-12 mx-auto js-chat-wrapper" data-url="{{ path('api_hub_url') }}">
            <div class="row">
                <div class="col-12 col-md-4 bg-primary chat-header text-center text-uppercase">
                    <span class="align-middle">
                        <strong>Chats</strong>
                    </span>
                    <button type="button" class="btn btn-sm btn-primary float-right" id="js-create-private-chat" data-url="{{ path('api_get_friend') }}" data-toggle="modal" data-target="#chooseFriendsModal">
                        <h6><span class="fa fa-plus-circle"></span></h6>
                    </button>
                </div>
                <div class="col-12 col-md-8 bg-primary chat-header text-center text-uppercase">
                    <span class="align-middle">
                        <strong>Messages</strong>
                    </span>
                    <button class="btn btn-primary chat-menu float-right text-white align-middle border border-secondary" data-toggle="modal" data-target="#js-chat-options-modal">
                        <span class="fas fa-bars"></span>
                    </button>
                </div>
            </div>
            <div class="row chat-container">
                <div class="col-sm-12 col-md-4 bg-white chat-item-container px-0">
                    <ul class="list-group" id="js-chats-container">
                        {% if chats %}
                            {% for chat in chats %}
                                <button type="button" class="list-group-item list-group-item-action mt-1 js-chat-button {{ loop.first ? 'active' : '' }}" id="{{ chat.id }}" data-owner="{{ chat.owner.id }}">
                                    <div class="row no-gutters">
                                        <div class="col-sm-12 col-md-4">
                                            {% set break = false %}
                                                
                                            {% for participant in chat.otherParticipants(app.user) %}
                                                {% if not break %}
                                                        {% if loop.index0 < 3 %}
                                                            {% if participant.user.imageFilename %}
                                                                <img class="user-image image-circle image-border float-left" src="{{ uploaded_asset(participant.user.thumbImagePath) }}" alt="User image">
                                                            {% else %}
                                                                <img class="user-image image-circle image-border float-left" src="{{ asset('img/users/default.png') }}" alt="User image">
                                                            {% endif %}
                                                        {% else %}
                                                            <div class="user-image image-circle float-left bg-primary image-border">
                                                                <span class="fas fa-plus"></span>
                                                            </div>
                                                            {% set break = true %}
                                                        {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-sm-12 col-md-8">
                                            <span class="participants"><strong>
                                                {% set break = false %}
                                                
                                                {% for participant in chat.otherParticipants(app.user) %}
                                                    {% if not break %}
                                                        {{ participant.user.login }}
                                                        {% if loop.index0 < 2 and not loop.last %}
                                                            ,
                                                        {% elseif loop.index0 >= 2 %}
                                                            and more...
                                                            {% set break = true %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </strong></span>
                                        </div>
                                        <div class="col-12 border-top js-last-message my-1">
                                            {% if chat.lastMessage %}
                                            <small>
                                                <div class="row">
                                                    <div class="col-8 text-left">
                                                        {% if chat.lastMessage.owner is same as(app.user) %}
                                                            <span><strong>
                                                                You
                                                            </strong></span>
                                                        {% else %}
                                                            <span><strong>
                                                                {{chat.lastMessage.owner.login }}
                                                            </strong></span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-4">
                                                        <span><small>
                                                            {% if date(chat.lastMessage.createdAt) < date('today') %}
                                                                {{ chat.lastMessage.createdAt | date('m/d/Y g:ia') }}
                                                            {% else %}
                                                                {{ chat.lastMessage.createdAt | date(" g:ia") }}
                                                            {% endif %}
                                                        </small></span>
                                                    </div>
                                                    <div class="col-12 text-left">
                                                        {{ chat.lastMessage.sanitazedContent | raw }}
                                                    </div>
                                                </div>
                                            </small>
                                            {% else %}
                                                <small>No messages now. Write first one!</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </button>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="col-sm-12 col-md-8 bg-white p-0 h-100">
                    <div class="m-0 row h-100">
                        <div class="col-12 chat-item-container w-100 messages-container" id="js-messages-container">
                            
                        </div>
                        <div class="col-12 bg-white textarea-container">
                            <div class="row">
                                <div class="col-10 mt-1 text-left d-flex align-items-center d-none" id="js-uploaded-attachments">
                                    
                                </div>
                                <div class="col-10">
                                    <div class="my-3">
                                        <div class="bg-dark text-left" id="js-message-text"></div>
                                    </div>
                                    <div class="form-group d-none">
                                        <form action="{{ path('api_upload_attachment', { type:'file' }) }}" method="POST" id="js-file-form" enctype="multipart/form-data">
                                            <label class="sr-only" for="js-file-input">
                                                Upload attachment file
                                            </label>
                                            <input type="file" name="uploadFile" id="js-file-input" />
                                            <input type="hidden" name="token" value="{{ csrf_token('upload') }}"/>
                                        </form>
                                    </div>
                                    <div class="form-group d-none">
                                        <form action="{{ path('api_upload_attachment', { type: 'image'}) }}" method="POST" id="js-image-form" enctype="multipart/form-data">
                                            <label class="sr-only" for="js-image-input">
                                                Upload image
                                            </label>
                                            <input type="file" name="uploadImage" id="js-image-input" accept=".jpg, .png" />
                                            <input type="hidden" name="token" value="{{ csrf_token('upload') }}"/>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-2 my-auto mx-auto">
                                    <button type="button" class="btn btn-block btn-primary" id="js-upload-file"><span class="fas fa-paperclip"></span></button>
                                    <button type="button" class="btn btn-block btn-primary" id="js-upload-image"><span class="fas fa-images"></span></button>
                                    <button type="button" class="btn btn-block btn-primary" id="js-send-message">Send <span class="fas fa-paper-plane"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('js_templates/messages.html.twig') }}
{{ include('js_templates/chat_participants.html.twig') }}
{{ include('js_templates/uploaded_file.html.twig') }}
{{ include('js_templates/progress_bar.html.twig') }}
{{ include('js_templates/private_chat.html.twig') }}
{{ include('modals/choose_friends_modal.html.twig') }}
{{ include('modals/chat_options_modal.html.twig') }}
<script>
    var defaultUserImage = "{{ asset('img/users/default.png') }}";
    var baseAsset = "{{ uploaded_asset('') }}";
    const currentUser = "{{ app.user.id }}";
</script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
    <!--<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/canvas2image@1.0.5/canvas2image.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    
    <script type="module" src="{{ asset('js/helpers/_errorHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/helpers/_validationHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/_chatApi.js') }}"></script>
    <script type="module" src="{{ asset('js/_chatOptionsApi.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            let $wrapper = $('.js-chat-wrapper');
            let chatApi = new ChatApi($wrapper, defaultUserImage, baseAsset, null, null, currentUser, false);

            let $optionsWrapper = $('#js-chat-options-modal');
            let chatOptionsApi = new ChatOptionsApi($optionsWrapper, false, null, currentUser);
        });
    </script>
{% endblock %}