{% extends 'base.html.twig' %}

{% block title %}Chat - Private Rooms{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/_chat.css') }}">
{% endblock %}
{% block section_class %}privateRooms{% endblock %} 
{% block content %}
<div class="col-sm-12 text-center my-3">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="mb-3 font-weight-normal text-uppercase text-purple">Private Chat Rooms</h4>
        </div>
        <div class="col-sm-12 mx-auto js-chat-wrapper" data-url="{{ path('api_hub_url') }}">
            <div class="row">
                <div class="col-12 col-md-4 bg-primary chat-header text-center text-uppercase">
                    <span class="align-middle">Chats</span>
                    <button type="button" class="btn btn-sm btn-primary float-right" id="js-create-private-chat" data-url="{{ path('api_get_friend') }}" data-toggle="modal" data-target="#chooseFriendsModal">
                        <h6><span class="fa fa-plus-circle"></span></h6>
                    </button>
                </div>
                <div class="col-12 col-md-8 bg-primary chat-header text-center text-uppercase">
                    <span class="align-middle">Messages</span>
                </div>
            </div>
            <div class="row chat-container">
                <div class="col-sm-12 col-md-4 bg-white chat-item-container">
                    <ul class="list-group" id="js-chats-container">
                        {% if chats %}
                            {% for chat in chats %}
                                <button type="button" class="list-group-item list-group-item-action mt-1 js-chat-button {{ loop.first ? 'active' : '' }}" id="{{ chat.id }}">
                                    <div class="row no-gutters">
                                        <div class="col-sm-12 col-md-4">
                                            {% set break = false %}
                                            {% set index = 0 %}
                                                
                                            {% for participant in chat.participants %}
                                                {% if not break and participant.user is not same as(app.user) %}
                                                    {% set index = index + 1 %}
                                                        {% if index < 3 %}
                                                            {% if participant.user.imageFilename %}
                                                                <img class="user-image image-circle image-border float-left" src="{{ uploaded_asset(participant.user.thumbImagePath) }}" alt="User image">
                                                            {% else %}
                                                                <img class="user-image image-circle image-border float-left" src="{{ asset('img/users/default.png') }}" alt="User image">
                                                            {% endif %}
                                                        {% else %}
                                                            <div class="user-image image-circle float-left bg-primary image-border">
                                                                <span class="fas fa-plus"></span>
                                                            </div>
                                                            {% set break = true %}
                                                        {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-sm-12 col-md-8">
                                            <span class="participants"><strong>
                                                {% set break = false %}
                                                {% set index = 0 %}
                                                
                                                {% for participant in chat.participants %}
                                                    {% if not break and participant.user is not same as(app.user) %}
                                                        {% set index = index + 1 %}

                                                        {{ participant.user.login }}
                                                        {% if index < 2 and not loop.last %}
                                                            ,
                                                        {% elseif index >= 2 %}
                                                            and more...
                                                            {% set break = true %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </strong></span>
                                        </div>
                                        <div class="col-12 border-top">
                                            <small>Work in progress (last message here)</small>
                                        </div>
                                    </div>
                                </button>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="col-sm-12 col-md-8 bg-white p-0 h-100">
                    <div class="m-0 row h-100">
                        <div class="col-12 chat-item-container w-100 messages-container" id="js-messages-container">
                        </div>
                        <div class="col-12 bg-white textarea-container">
                            <div class="row">
                                <div class="col-10">
                                    <div class="my-3">
                                        <div class="bg-dark text-left" id="js-message-text"></div>
                                    </div>
                                    <div class="form-group d-none">
                                        <form action="{{ path('api_upload_image_attachment') }}" method="POST" id="js-image-form" enctype="multipart/form-data">
                                            <label class="sr-only" for="js-image-input">
                                                Upload image
                                            </label>
                                            <input type="file" name="uploadImage" id="js-image-input" accept=".jpg, .png" />
                                        </form>
                                    </div>
                                </div>
                                <div class="col-2 my-auto mx-auto">
                                    <button type="button" class="btn btn-block btn-primary" id="js-upload-image"><span class="fas fa-images"></span></button>
                                    <button type="button" class="btn btn-block btn-primary" id="js-send-message">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('js_templates/messages.html.twig') }}
{{ include('js_templates/chat_participants.html.twig') }}
{{ include('modals/choose_friends_modal.html.twig') }}
{{ include('js_templates/uploaded_image.html.twig') }}
{{ include('js_templates/progress_bar.html.twig') }}
<script>
    var defaultUserImage = "{{ asset('img/users/default.png') }}";
    var baseAsset = "{{ uploaded_asset('') }}";
    const currentUser = "{{ app.user.id }}";
</script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
    <script type="module" src="{{ asset('js/helpers/_errorHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/helpers/_validationHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/_chatApi.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           var $wrapper = $('.js-chat-wrapper');
           var chatApi = new ChatApi($wrapper, defaultUserImage, baseAsset, null, null, currentUser, false);
        });
    </script>
{% endblock %}