{% extends 'base.html.twig' %}

{% block title %}User - Reports{% endblock %}

{% block section_class %}userReports{% endblock %} 
{% block content_class %}{% endblock %}
{% block content %}
<div class="col-sm-12 text-center mt-5">
    {% if pagination.getTotalItemCount > 0 %}
        <div id="js-ban-wrapper">
            {% if reportedUser.isAdmin %}
                <a href="#ban" class="btn btn-primary float-right disabled" role="button">
                    <span class="fas fa-user-shield"></span>
                </a>
            {% elseif date(reportedUser.banTo) > date() %}
                <a href="{{ path('admin_account_ban', { id : reportedUser.id } ) }}" class="unban-user btn btn-primary float-right" role="button" data-name="user" data-id="{{ reportedUser.id }}" data-toggle="tooltip" data-placement="top" title="Unban">
                    <span class="text-danger fas fa-ban"></span>
                    <span>Already banned to: {{ reportedUser.banTo | date('m/d/Y') }}</span>
                </a>
            {% else %}
                <a href="{{ path('admin_account_ban', { id : reportedUser.id } ) }}" class="ban-user btn btn-primary float-right" role="button" data-name="user" data-id="{{ reportedUser.id }}" data-toggle="tooltip" data-placement="top" title="Ban">
                    <span class="fas fa-ban"></span>
                </a>
            {% endif %}
        </div>
        <h2 class="mb-3 font-weight-normal text-uppercase text-purple">{{ reportedUser.login }} Reports ({{ pagination.getTotalItemCount }})</h2>
        <div class="col-sm-12 col-md-4 mx-auto mb-2">
            {{ knp_pagination_filter(pagination, {}) }}
        </div>
        <div class="table-responsive">
            <table class="table table-hover js-reports-wrapper" id="list">
                <thead class="thead-dark">
                    <tr>
                        <th {% if pagination.isSorted('r.id') %} class="sorted" {% endif %}>
                            {{ knp_pagination_sortable(pagination, '#', 'r.id') }}
                        </th>
                        <th {% if pagination.isSorted('rs.login') %} class="sorted" {% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Reported By', 'rs.login') }}
                        </th>
                        <th {% if pagination.isSorted('r.type') %} class="sorted" {% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Reason', 'r.type') }}
                        </th>
                        <th {% if pagination.isSorted('r.description') %} class="sorted" {% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Description', 'r.description') }}
                        </th>
                        <th {% if pagination.isSorted('r.createdAt') %} class="sorted" {% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Created At', 'r.createdAt') }}
                        </th>                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in pagination %}
                        <tr>
                            <td>{{ report.id }}</td>
                            <td>
                                <a href="{{ path('account_profile', { id: report.reportSender.id }) }}">
                                    {{ report.reportSender.login }}
                                </a>
                            </td>
                            <td>{{ report.type }}</td>
                            <td>{{ report.description | u.truncate(40, '...') }}</td>
                            <td>{{ report.createdAt | date('m/d/Y') }}</td>
                            <td class="links-table">
                                <div class="link-wrapper">
                                    <a href="#" class="js-show-report" role="button" data-report-id="{{ report.id }}" data-toggle="tooltip" data-placement="top" title="Show">
                                        <span class="fas fa-info-circle"></span>
                                    </a>
                                </div>
                                <div class="link-wrapper">
                                    <a href="{{ path('admin_report_delete', {id: report.id}) }}" class="delete-item" data-name="user report" data-id="{{ report.id }}" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <span class="fa fa-trash-alt"></span>
                                    </a>
                                </div>
                            </td>           
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination, null, {}, {
                'align': 'center'
            }) }}
            {% include 'paginator/per_page.html.twig' %}
        </div>
    {% else %}
        <h2 class="mb-3 font-weight-normal text-uppercase text-purple">
            {{ reportedUser.login }} Reports
        </h2>
        <div class="col-sm-12 col-md-4 mx-auto mb-2">
            {{ knp_pagination_filter(pagination, {}) }}
        </div>
        {% include 'empty_table.html.twig' %}
    {% endif %}    
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="text/javascript" src="{{ asset('js/_banUser.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/_deleteItem.js') }}"></script>

    <script type="module" src="{{ asset('js/helpers/_errorHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/_reportApi.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let $reportsWrapper = $('.js-reports-wrapper');
            let reportApi = new ReportApi($reportsWrapper);

            $('[data-toggle="tooltip"]').tooltip({trigger: 'hover'});
            $('[data-toggle="tooltip"]').on('click', function () {
                $(this).tooltip('hide')
            });
        });
    </script>
{% endblock %}

