<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Chat"/>
        <meta name="keywords" content="Chat"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
        <meta name="author" content="Kris1992">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        
        <title>{% block title %}Chat{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/_styles.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/all.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="main-container">
            <nav id="sidebar">
                <div class="sidebar-header text-uppercase">
                    <a href="{{ path('app_homepage') }}" class="brand-link">
                        <h4><span class="fas fa-comments"></span>Chat</h4>
                        <strong><span class="fas fa-comments"></span></strong>
                    </a>
                </div>
                {% if is_granted('ROLE_USER') %}
                    <ul class="list-unstyled menu-wrapper text-uppercase">
                        <li>
                            <a href="{{ path('chat_dashboard') }}" class="menu-item {{ app.request.get('_route') starts with 'chat' ? 'active' }}">
                                <span class="fas fa-home"></span>
                                Rooms
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('account_profile', { id: app.user.id }) }}" class="menu-item">
                                <span class="fas fa-portrait"></span>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('account_edit') }}" class="menu-item {{ app.request.get('_route') == 'account_edit' ? 'active' }}">
                                <span class="fas fa-user-cog"></span>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('friend_list') }}" class="menu-item {{ app.request.get('_route') starts with 'friend' ? 'active' }}">
                                <span class="fas fa-user-friends"></span>
                                Contacts
                                <div class="d-inline-block" id="js-invites-wrapper">
                                    {% set pendingFriendsCount = pendingFriends(app.user) %}
                                    {% if pendingFriendsCount > 0 %}
                                        <span class="badge badge-primary" data-count="{{ pendingFriendsCount }}" id="js-invites-count">
                                            {{ pendingFriendsCount }}
                                        </span>                 
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('admin_dashboard') }}" class="menu-item {{ app.request.get('_route') starts with 'admin' ? 'active' }}">
                                    <span class="fas fa-tools"></span>
                                    Dashboard
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="list-unstyled sidebar-footer">
                        <li>
                            <a href="{{ path('app_logout') }}" class="btn btn-white btn-lg">
                                <span class="fas fa-sign-out-alt"></span>
                                <span class="text-uppercase text-orange"><strong>Logout</strong></span>
                            </a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="list-unstyled menu-wrapper text-uppercase">
                        <li>
                            <a href="{{ path('app_homepage') }}" class="menu-item {{ app.request.get('_route') == 'app_homepage' ? 'active' }}">
                                <span class="fas fa-home"></span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_register') }}" class="menu-item {{ app.request.get('_route') == 'app_register' ? 'active' }}">
                                <span class="fas fa-user-plus"></span>
                                Sign up
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_login') }}" class="menu-item {{ app.request.get('_route') == 'app_login' ? 'active' }}">
                                <span class="fas fa-sign-in-alt"></span>
                                Sign in
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </nav>
            <div class="container-fluid">
                <nav class="navbar navbar-dark bg-primary navbar-expand-sm rounded-bottom">
                    <button type="button" id="sidebarCollapse" class="btn btn-white">
                        <span class="fas fa-align-left"></span>
                        <span>Toggle Menu</span>
                    </button>
                    <ul class="navbar-nav m-auto text-uppercase">
                        <li class="nav-item">
                            <span>
                                <a class="nav-link font-oswald" href="{{ path('app_homepage') }}">
                                    <span id="js-non-typed-text">Chat</span> 
                                    <span class="typed-text text-purple"></span>
                                    <span class="cursor d-inline-block">&nbsp;</span>
                                </a>
                            </span>
                        </li>
                    </ul>
                </nav>
                <main>
                    <div class="row">
                        <div class="col-sm-12" id="flash-message">
                            {% include 'flash_messages.html.twig' %} 
                        </div>
                    </div>
                    <section class="{% block section_class %}{% endblock %}">
                        <div class="row {% block content_class %}{% endblock %}">
                            {% block content %}{% endblock %}
                        </div>
                    </section>
                </main>
            </div>
        </div>
        {% if is_granted('ROLE_USER') %}
            <script>
                const currentUserLogin = "{{ app.user.login }}";
            </script>
        {% else %}
            <script>
                const currentUserLogin = null;
            </script>
        {% endif %}
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ asset('js/_textTyperApi.js') }}"></script>
        
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
                var textTyperApi = new TextTyperApi(currentUserLogin);

            });
        </script>
        {% if is_granted('ROLE_USER') %}
            <script type="text/javascript" src="{{ asset('js/_userActivity.js') }}"></script>
        {% endif %}
        {% endblock %}
    </body>
</html>