{% extends 'base.html.twig' %}

{% block title %}Chat - Petition{% endblock %}

{% block section_class %}petitionShow{% endblock %} 
{% block content_class %}justify-content-center align-items-center{% endblock %}
{% block content_id %}js-petition-wrapper{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/_forms.css') }}">
{% endblock %}

{% block content %}
<div class="col-12 text-center">
    {% if petition.status is same as('Closed') %}
        <b class="text-uppercase text-danger">This petition is closed</b>
    {% endif %}
    <a href="{{ path('admin_petition')}}" class="btn btn-info float-left">
        <span class="far fa-list-alt"></span>
    </a>
</div>
<div class="col-md-10 text-center my-3">
    <div class="card">
        <div class="card-header text-purple">
            <b>{{ petition.title }}</b>
        </div>
        <div class="card-body text-left">
            <p class="card-text">
                {{ petition.description }}
            </p>
            {% if petition.attachments is not empty %}
                <span><b>Attachments:</b></span>
                {% for attachment in petition.attachments %}
                    <span class="d-block">
                        {% if attachment.type is same as('Image') %}
                            <a href="{{ uploaded_asset(attachment.imagePath) }}">
                                <span class="fas fa-thumbtack"></span>
                                {{ attachment.filename }}
                            </a>
                        {% elseif attachment.type is same as('File') %}
                            <a href="{{ uploaded_asset(attachment.filePath) }}">
                                <span class="fas fa-thumbtack"></span>
                                {{ attachment.filename }}
                            </a>
                        {% endif %}
                    </span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="card-footer text-right text-muted">{{ time_diff(petition.createdAt) }}</div>
    </div>
</div>

<div class="col-md-10" id="js-messages-wrapper">
    {% if petition.petitionMessages is not empty %}
        {% for message in petition.petitionMessages %}
            <div class="card my-3">
                <div class="card-header">
                    {% if message.owner.imageFilename %}
                        <a href="{{ uploaded_asset(message.owner.imagePath) }}" target="_blank">
                            <img class="img-fluid image-circle image-border" width="25" height="25" src="{{ uploaded_asset(message.owner.thumbImagePath) }}">
                        </a>
                    {% else %}
                        <a href="{{ asset('img/users/default.png') }}" target="_blank">
                            <img class="img-fluid image-circle image-border" width="25" height="25" src="{{ asset('img/users/default.png') }}">
                        </a>
                    {% endif %}  
                    <b class="text-purple">{{ message.owner.login }}</b>
                    <span class="float-right text-muted">{{ time_diff(message.createdAt) }}</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            {{ message.content }}
                        </div>
                        {% if message.readedAt and message.owner is same as(app.user) %}
                            <div class="col-12 text-right text-muted">
                                Readed {{ time_diff(message.readedAt) }}
                            </div>
                        {% endif %}                    
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% if petition.status is not same as('Closed') %}
    <div class="col-md-10">
        <div class="card text-white bg-dark">
            <div class="card-header p-0">
                <b>Add message</b>
            </div>
            <div class="card-body p-0">
                <textarea class="bg-dark text-left text-white w-100" id="js-message-text" rows="4" style="resize: none"></textarea>
                <button class="btn btn-primary float-right" role="button" id="js-send-message">
                    <span class="fas fa-paper-plane"></span>
                    Send
                </button>
            </div>
        </div>
    </div>
{% endif %}
{{ include('js_templates/petition_messages.html.twig') }}
<script>
    let defaultUserImage = "{{ asset('img/users/default.png') }}";
    let baseAsset = "{{ uploaded_asset('') }}";
    const petitionId = "{{ petition.id }}";
</script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
    
    <script type="module" src="{{ asset('js/helpers/_errorHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/helpers/_validationHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/_petitionApi.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            let $wrapper = $('#js-petition-wrapper');
            let petitionApi = new PetitionApi($wrapper, petitionId, defaultUserImage, baseAsset);
        });
    </script>

{% endblock %}