{% extends 'base.html.twig' %}

{% block title %}Chat - Contacts{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/_chat.css') }}">
{% endblock %}
{% block section_class %}contacts{% endblock %} 
{% block content_class %}{% endblock %}
{% block content %}
    <div class="col-sm-12 text-center mt-5">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-3 d-inline-block font-weight-normal text-uppercase text-purple">Contacts</h2>
                <a href="{{ path('friend_requests') }}" class="d-inline-block btn btn-primary float-right" data-toggle="tooltip" data-placement="top" title="Pending invites">
                    <span class="fas fa-envelope"></span>
                </a>
                <a href="{{ path('friend_search') }}" class="d-inline-block btn btn-primary float-right mr-2" data-toggle="tooltip" data-placement="top" title="Search contacts to invite">
                    <span class="fas fa-user-plus"></span>
                </a>
            </div>
            <div class="col-sm-12 my-3">
                {{ knp_pagination_filter(pagination, {}) }}
            </div>
            {% if pagination is not empty%}
                {% for friend in pagination %}
                    {% if friend.invitee is same as(app.user) %}
                        {% set user = friend.inviter %}
                    {% else %}
                        {% set user = friend.invitee %}
                    {% endif %}
                        <div class="col-sm-12 col-md-5 p-3 mx-auto my-2 link-card js-card">
                            <div class="row">
                                <div class="col-2">
                                    <a href="">
                                        {% if user.imageFilename %}
                                            <img class="img-fluid image-circle" src="{{ uploaded_asset(user.thumbImagePath) }}">
                                        {% else %}
                                            <img class="img-fluid image-circle" src="{{ asset('img/users/default.png') }}">
                                        {% endif %}   
                                    </a>
                                </div>
                                <div class="col-7 align-self-center">
                                    <a href="">
                                        <h5 class="text-orange">
                                            {{ user.login }}
                                        </h5>
                                        <small class="text-purple">{{ user.email }}</small>
                                    </a>
                                </div>
                                <div class="col-1 align-self-center js-user-activity" id="{{ user.id }}" data-url="{{ path('api_account_get_last_activities') }}">
                                    <h5>
                                        {% if date(user.lastActivity) < date('-1 minute')%}
                                            <span class="fas fa-circle text-danger" data-toggle="tooltip" data-placement="top" title="User is not active now"></span>
                                        {% else %}
                                            <span class="fas fa-circle text-success" data-toggle="tooltip" data-placement="top" title="User is active now"></span>
                                        {% endif %}
                                    </h5>
                                </div>
                                <div class="col-2 align-self-center">
                                    <h5>
                                        <a href="" data-toggle="tooltip" data-placement="top" title="Start conversation"><span class="fas fa-comment-dots"></span></a>
                                    </h5>
                                </div>
                            </div> 
                        </div>
                {% endfor %}
            
                <div class="col-12 mt-3">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, null, {}, {
                            'align': 'center'
                        }) }}
                        {{ include('paginator/per_page.html.twig', {
                            span_color: 'text-primary',
                            per_page: [6,12,18]
                        }) }}
                    </div>
                </div>
            {% else %}
                <div class="col-11 p-3 mx-auto my-2 link-card">
                    <span class="text-center">
                        <h5 class="text-green">No one to display here. Common let's invite someone 
                            <a href="{{ path('friend_search') }}">now.</a>
                        </h5>
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
    {{ include('js_templates/user_activity.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="module" src="{{ asset('js/helpers/_errorHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/_contactApi.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var $wrapper = $('#js-contacts-wrapper');
            var contactApi = new ContactApi($wrapper);
        });
    </script>
{% endblock %}
