{% extends 'base.html.twig' %}

{% block title %}Chat - Contacts Requests{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/_chat.css') }}">
{% endblock %}
{% block section_class %}searchContacts{% endblock %} 
{% block content_class %}{% endblock %}
{% block content %}
    <div class="col-sm-12 text-center mt-5" id="js-contacts-wrapper">
        <div class="row">    
            <div class="col-sm-12">
                <h2 class="mb-3 d-inline-block font-weight-normal text-uppercase text-purple">Pending requests</h2>
                <a href="{{ path('friend_search') }}" class="d-inline-block btn btn-primary float-right mr-2" data-toggle="tooltip" data-placement="top" title="Search friends to invite">
                    <span class="fas fa-user-plus"></span>
                </a>
                <a href="{{ path('friend_list') }}" class="d-inline-block btn btn-primary float-right mr-2" data-toggle="tooltip" data-placement="top" title="Friends list">
                    <span class="fas fa-user-friends"></span>
                </a>
            </div>
        </div>
        <div class="row">
            {% if friendRequests is not empty%}
                {% for friendRequest in friendRequests %}
                    {% set user = friendRequest.inviter %}
                        <div class="col-sm-12 col-md-5 p-3 mx-auto my-2 link-card js-card">
                            <div class="row">
                                <div class="col-2">
                                    <a href="">
                                        {% if user.imageFilename %}
                                            <img class="img-fluid image-circle" src="{{ uploaded_asset(user.thumbImagePath) }}">
                                        {% else %}
                                            <img class="img-fluid image-circle" src="{{ asset('img/users/default.png') }}">
                                        {% endif %}   
                                    </a>
                                </div>
                                <div class="col-6 align-self-center">
                                    <a href="">
                                        <h5 class="text-orange">
                                            {{ user.login }}
                                        </h5>
                                        <small class="text-purple">{{ user.email }}</small>
                                    </a>
                                </div>
                                <div class="col-2 align-self-center">
                                    <h5>
                                        <a class="js-friend-response" href="{{ path('api_friend_response', { id: friendRequest.id }) }}" data-action="accept"><span class="fas fa-user-check"></span></a>
                                    </h5>
                                </div>
                                <div class="col-2 align-self-center">
                                    <h5>
                                        <a class="js-friend-response" href="{{ path('api_friend_response', { id: friendRequest.id }) }}" data-action="reject"><span class="text-danger fas fa-user-times"></span></a>
                                    </h5>
                                </div>
                            </div> 
                        </div>
                {% endfor %}
            {% else %}
                <div class="col-11 p-3 mx-auto my-2 link-card">
                    <span class="text-center">
                        <h5 class="text-green">Actually You don't have any pending requests from other users</h5>
                    </span>
                </div>
            {% endif %}
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="module" src="{{ asset('js/helpers/_errorHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/_contactApi.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var $wrapper = $('#js-contacts-wrapper');
            var contactApi = new ContactApi($wrapper);
        });
    </script>
{% endblock %}
