{% extends 'base.html.twig' %}

{% block title %}Chat - Search Contacts{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/_chat.css') }}">
{% endblock %}
{% block section_class %}searchContacts{% endblock %} 
{% block content_class %}{% endblock %}
{% block content %}
    <div class="col-sm-12 text-center mt-5" id="js-contacts-wrapper">
        <div class="row">    
            <div class="col-sm-12">
                <h2 class="mb-3 d-inline-block font-weight-normal text-uppercase text-purple">Look for new contacts</h2>
                <a href="{{ path('friend_requests') }}" class="d-inline-block btn btn-primary float-right" data-toggle="tooltip" data-placement="top" title="Pending invites">
                    <span class="fas fa-envelope"></span>
                </a>
                <a href="{{ path('friend_list') }}" class="d-inline-block btn btn-primary float-right mr-2" data-toggle="tooltip" data-placement="top" title="Friends list">
                    <span class="fas fa-user-friends"></span>
                </a>
            </div>
            <div class="col-sm-12 my-3">
                {{ knp_pagination_filter(pagination, {}) }}
            </div>
        </div>
        <div class="row">
            {% if pagination is not empty%}
                {% for user in pagination %}
                    {% if user is not same as(app.user) %} <!-- You cannot invite yourself -->
                        <div class="col-sm-12 col-md-5 p-3 mx-auto my-2 link-card">
                            <div class="row">
                                <div class="col-2">
                                    <a href="">
                                        {% if user.imageFilename %}
                                            <img class="img-fluid image-circle" src="{{ uploaded_asset(user.thumbImagePath) }}">
                                        {% else %}
                                            <img class="img-fluid image-circle" src="{{ asset('img/users/default.png') }}">
                                        {% endif %}   
                                    </a>
                                </div>
                                <div class="col-6 align-self-center">
                                    <a href="">
                                        <h5 class="text-orange">
                                            {{ user.login }}
                                        </h5>
                                        <small class="text-purple">{{ user.email }}</small>
                                    </a>
                                </div>
                                <div class="col-4 align-self-center">
                                    {% set currentInviteHim = user.invitedByFriend(app.user)|first %}
                                    {% set heWasInvitedByCurrent = user.invitedFriend(app.user)|first %}

                                    {% if not currentInviteHim and not heWasInvitedByCurrent %}
                                        <h5>
                                            <a class="js-friend" href="{{ path('api_friend_invite', { id: user.id }) }}"><span class="fas fa-user-plus"></span></a>
                                        </h5>
                                    {% elseif currentInviteHim.status is defined and currentInviteHim.status is same as('Pending') %}
                                        <h5>
                                            <span class="fas fa-user-clock"></span>
                                        </h5>
                                    {% elseif heWasInvitedByCurrent.status is defined and heWasInvitedByCurrent.status is same as('Pending') %}
                                        <h5>
                                            <a href="{{ path('friend_requests') }}"><span class="fas fa-envelope"></span></a>
                                        </h5>
                                    {% else %}
                                        <h5>
                                            <span class="text-success fas fa-user-friends"></span>
                                        </h5>
                                    {% endif %}
                                </div>
                            </div> 
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            
                <div class="col-12 mt-3">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, null, {}, {
                            'align': 'center'
                        }) }}
                        {{ include('paginator/per_page.html.twig', {
                            span_color: 'text-primary',
                            per_page: [6,12,18]
                        }) }}
                    </div>
                </div>
            {% else %}
                <div class="col-11 p-3 mx-auto my-2 link-card">
                    <span class="text-center">
                        <h5 class="text-green">Actually we don't have any users meeting the requirements.</h5>
                    </span>
                </div>
            {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="module" src="{{ asset('js/helpers/_errorHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/_contactApi.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var $wrapper = $('#js-contacts-wrapper');
            var contactApi = new ContactApi($wrapper);
        });
    </script>
{% endblock %}
